body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  display: grid;
  gap: 16px;
}
.card > * {
  padding: 14px 7px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  font-weight: 600;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 18px;
}